body{
    background-color:black;
    color: white;
    font-weight: bold;
}
h1{
    text-align: center;
    /* background-color: rgb(64, 153, 125); */
}
hr {
    background-color: #3cb371; 
    height: 2px;
    border: none;
    margin: 20px 0;
  }
/* button{
    border: none;
    border-radius:50%;
    width:200px;
    height:100px;
    color: white;
    background-color: rgb(83, 85, 87)
} */
.button{
    text-align: center;
    margin-top: 15%;
}
  button{
    border: none;
    border-radius:50%;
    font-size: larger;
    width:200px;
    height:100px;
    margin: 20px;
    color: white;
    background-color: rgb(83, 85, 87)
  }
  button:hover {
    border: none;
    border-radius:50%;
    width:200px;
    height:100px;
    color:black;
    background:rgb(46, 144, 113);
  }